<h3>Hello world</h3>

<%# <%=render 'shared/links' %>
<%# <%= link_to 'About us' , controller: :pages , action: :about_us  %>
<%# <%= link_to 'About us' , '/about'  %> 
<%# <%= link_to 'About us' , about_path,target: '_blank'%>
